<span class="icon has-text-info level-item">
  <i class="fas fa-user-plus" aria-hidden="true" (click)="add(profiles.length)" [title]="titleAdd"></i>
</span>

<div class="level">
  <div class="level-left">
    <div class="level-item has-text-centered" *ngFor="let profile of profiles,let i=index">
    
      <div class="card">
        <div class="card-content">
          <i class="fas fa-edit" aria-hidden="true" (click)="profile.editMode = !profile.editMode" [title]="titleEdit"></i>
          <i class="fas fa-user-minus" aria-hidden="true" (click)="remove(i, profiles[i].id)" [title]="titleDelete"></i>
          <figure class="image is-128x128">
            <img
              alt="placeholder image"
              class="is-rounded"
              src="https://bulma.io/images/placeholders/256x256.png"
            />
          </figure>
          <br />
          <div>
            <p class="heading">adult</p>
            <uic-editable
              [(data)]="profile.givenName"
              [(editMode)]="profile.editMode"
              (dataChange)="edited()"
              type="name"
            >
            <p class="title is-6 level-item">{{ profile.givenName }}</p>
            </uic-editable>
            <uic-editable
              [(data)]="profile.familyName"
              [(editMode)]="profile.editMode"
              (dataChange)="edited()"
              type="name"
            >
              <p class="title is-6 level-item">{{ profile.familyName }}</p>
            </uic-editable>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
